# Maven
target/

# Eclipse
.classpath
.project
.settings/
*.jsfdia
*.tern-project

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Node.js
node_modules/
dist/
npm-debug.log

# Selenium
phantomjsdriver.log

# Env
.env.*
