<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright OmniFaces

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
    the License. You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
    specific language governing permissions and limitations under the License.

-->
<server description="arquillian">
    <featureManager>
        <feature>faces-4.1</feature>
        <feature>expressionLanguage-6.0</feature>
        <feature>servlet-6.1</feature>
        <feature>cdi-4.1</feature>
        <feature>websocket-2.2</feature>
        <feature>validation-3.1</feature>
        <feature>jsonp-2.1</feature> <!-- Not for OmniFaces itself, but for ScriptParamIT test case -->
        <!-- NOTE: jakartaee-11.0 is not yet available in 26.0.0.1-beta; once available, all of above can be replaced with a single jakartaee-11.0 feature -->
        <feature>localConnector-1.0</feature>
    </featureManager>
    <applicationMonitor updateTrigger="mbean" />
    <httpEndpoint id="defaultHttpEndpoint" httpPort="8080" httpsPort="8443" />
    <applicationManager autoExpand="true" />
</server>
